<div class="box">
	<div class="box-header">
  	<h3 class="box-title">{{ titulo }}</h3>
  </div>
	<form>
		<div class="form-group">
			<label for="nombre">Nombre</label>
			<input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Email address</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		</div>
		<div class="form-group">
			<label for="exampleFormControlSelect1">Example select</label>
			<select class="form-control" id="exampleFormControlSelect1">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>

		<div class="form-group">
			<label for="exampleFormControlTextarea1">Descripcion</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
	</form>
</div>
