<div class="box">
	<div class="box-header">
  	<h3 class="box-title">Listado de Repositorios</h3>
  </div>
	<!-- /.box-header -->
	<div class="box-body">
	<table id="example1" class="table table-bordered table-striped">
		<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripcion </th>
					<th>Url</th>
					<th>Email de Contacto</th>
					<th>Operaciones</th>

				</tr>
				</thead>
				<tbody>
				<tr *ngFor = "let repositorio of repositorios">
					<td>{{ repositorio.name}}</td>
					<td>{{ repositorio.description }}</td>
					<td>{{ repositorio.url}}</td>
					<td>{{ repositorio.contactEmail}}</td>
					<td><a [routerLink]="['/repositorios/editar', repositorio.id]" class="btn btn-md btn-warning">Editar</a></td>

				</tr>
			</tbody>
		</table>
	</div>
</div>
