<div class="box">
	<div class="box-header">
  	<h3 class="box-title">{{ titulo }}</h3>
  </div>
	<form>
		<div class="form-group">
			<label for="nombre">Nombre</label>
			<input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">Email Contacto</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email de Contacto">
		</div>
		<div class="form-group">
			<label for="exampleFormControlInput1">URL</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="URL">
		</div>
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Descripcion</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
		<button type="submit" class="btn btn-secondary">Guardar</button>
		<button type="submit" class="btn btn-secondary">Cancelar</button>
	</form>
</div>
