<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listado de Idiomas</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let usuario of usuarios">
        <td>{{ usuario.firstName}}</td>
        <td>{{ usuario.lastName }}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
