<p class="login-box-msg">Iniciar Sesion</p>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
  <div class="form-group has-feedback">
    <input type="email" class="form-control" placeholder="Email" required minlength="8" name="eml" [(ngModel)]="usuario.email" #email="ngModel">
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
        <div [hidden]="!email.errors.required">
          El mail es requerido
        </div>
        <div [hidden]="!email.errors.minlength">
          El mail debe tener al menos 8 caracteres
        </div>
    </div>
  </div>

  <div class="form-group has-feedback">
    <input type="password" class="form-control" placeholder="Password" required minlength="8" name="password" [(ngModel)]="usuario.password" #password="ngModel">
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    <div *ngIf="password.errors && (password.dirty || password.touched)"
         class="alert alert-danger">
        <div [hidden]="!password.errors.required">
          La password es requerida
        </div>
        <div [hidden]="!password.errors.minlength">
          La password debe tener al menos 8 caracteres
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <div class="checkbox icheck icheckbox_square-blue">
        <label>
          <input type="checkbox"> Recordarme
        </label>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-4">
      <input type="submit" class="btn btn-primary btn-block btn-flat" value="Login" [disabled]="!loginForm.form.valid">
    </div>
    <!-- /.col -->
  </div>

</form>

<!--div class="social-auth-links text-center">
  <p>- OR -</p>
  <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
    Facebook</a>
  <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
    Google+</a>
</div>
<!-- /.social-auth-links -->

<a href="#">Olvidaste la password?</a><br>
<a routerLink="/register" class="text-center">Registrarse</a>
